  body{
    font-family: 'Inter', sans-serif;
  }
  .contenedor{
    display: grid;  /*PARA TRABAJAR FILAS Y COLUMNAS*/
    grid-template-columns: 1fr 2fr 1fr;   /*AQUÍ COLOCAMOS COMO ABAJO PERO LA OTRA FORMA ES POR FRACCION*/
    grid-template-rows: 150px 150px 150px; /*ACA TAMBIÉN PODRIAMOS PONER POR FRACCION*/
    gap: 5px;   /*PARA SEPARAR ENTRE FILAS Y COLUMNAS*/
    width: 800px; /*SI QUIERO ACHICAR EL ANCHO QUE OCUPA DE LA PANTALLA HACEMOS ESO*/

}

 .contenedor .item{
    font-size: 30px;    /*AGRANDAMOS CARACTER*/
    background-color: indigo;   /*COLOR AL ESPACIO*/
    color: white;   /*COLOR AL CARACTER*/
    text-align: center; /*CENTRAMOS LOS CARACTERES*/
}

.contenedor .item:hover{          /*HOVER ES PARA CUANDO PONEMOS EL CURSOR POR ENCIMA*/
    background-color: blue;
    cursor: pointer;
}

.contenedor .item.uno{      /*ACCEDEMOS AL ITEM "UNO"*/
    grid-column: 1/4;       /*PONEMOS QUE OCUPE DESDE LA 1RA FRACCION A LA 4TA FRACCION*/
}



